/* Generico */
.top-header{
    background: linear-gradient(135deg, #242F9B 0%, #646FD4 50%, #9BA3EB 100%);
}


/* ACTIVITY-CARDS */
.activity-card{
    height:220px
}
.mtop-15{
    margin-top: 15px;
}